/* ===========================
   WARNA WEBSITE
=========================== */

:root{
    --primary:#033689;
    --primary-light:#edf4ff;
    --hover:#f6f8fc;
}

/* ===========================
   BODY
=========================== */

body{
    margin:0;
    background:#f4f7fc;
    font-family:'Segoe UI',sans-serif;
}

/* ===========================
   CONTENT
=========================== */

.wrapper{
    display:flex;
    margin-top:60px;
}

/* ===========================
   CARD
=========================== */

.card{
    border:none;
    border-radius:18px;
    box-shadow:0 4px 12px rgba(0,0,0,.05);
}

.card-header{
    background:#fff;
    border-bottom:1px solid #eee;
    border-radius:18px 18px 0 0 !important;
}

/* ===========================
   FORM
=========================== */

.form-control,
.form-select{
    height:48px;
    border-radius:10px;
}

textarea.form-control{
    height:auto;
}

/* ===========================
   BUTTON
=========================== */

.btn-primary{
    background:var(--primary);
    border-color:var(--primary);
}

.btn-primary:hover{
    background:#022b6d;
    border-color:#022b6d;
}

.btn-outline-primary{
    color:var(--primary);
    border-color:var(--primary);
}

.btn-outline-primary:hover{
    background:var(--primary);
    color:#fff;
}

/* ===========================
   COLOR UTILITIES
=========================== */

.bg-primary{
    background:var(--primary)!important;
}

.text-primary{
    color:var(--primary)!important;
}

/* ===========================
   ICON BOX
=========================== */

.icon-box{
    width:68px;
    height:68px;
    border-radius:16px;
    display:flex;
    align-items:center;
    justify-content:center;
}

/* ===========================
   TABLE
=========================== */

.table th{
    font-weight:600;
}

.table td{
    vertical-align:middle;
}

.table tbody tr td{
    padding:16px;
}

/* ===========================
   CHART
=========================== */

#suratChart{
    height:300px !important;
}
